<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="fediverse:creator" content="@hanwen@types.pl">
    <link rel="stylesheet" href="{{ site.root_dir }}css/weibian.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Libertinus+Serif+Display&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    {{ note.head | safe }}
  </head>
  <body>
    <div id="grid-wrapper">
      
      <header class="header">
        {% if note.id != "index" %}
        <nav class="nav">
          <div class="logo">
            <a href="{{ site.root_dir }}" title="Home">« Home</a>
          </div>
        </nav>
        {% endif %}
      </header>
      
      <article>
        <section class="block" lang="{{ note.metadata.lang }}">
          <details open>
            {{ note.content | safe }}
          </details>
        </section>
        {% if note.id != "index" %}
        <footer>
          {% for section in note.backmatter_sections %}
          <section class="block hide-metadata">
            <details open>
              <summary>
                <header>
                    <h2 class="disable-numbering">
                      {{ section.title }}
                    </h2>
                </header>
              </summary>
              {{ section.content | wb_disable_numbering | wb_demote_headings(levels=1) | safe }}
            </details>
          </section>
          {% endfor %}
        </footer>
        {% endif %}
      </article>
      {% set heading_count = note.toc.0.children | length %}
      {% if heading_count != 0 %}
        {% if note.metadata.toc != "false" %}
        <nav id="toc">
          <div class="block">
            <h1>Table of Contents</h1>
            {% for h1 in note.toc %}
            <ul class="block">
              {% for h2 in h1.children %}
              <li>
                <a href="{{site.root_dir}}{{ h2.id }}/" class="bullet">■</a>
                <a href="#{{ h2.id }}" class="link local {%- if h2.disable_numbering %} disable-numbering{%- endif -%}">{{ h2.content | safe }}</a>
                {% if h2.children | length > 0 %}
                <ul class="block">
                  {% for h3 in h2.children %}
                  <li>
                    <a href="{{site.root_dir}}{{ h3.id }}/" class="bullet">■</a>
                    <a href="#{{ h3.id }}" class="link local {%- if h3.disable_numbering %} disable-numbering{%- endif -%}">{{ h3.content | safe }}</a>
                    {% if h3.children | length > 0 %}
                    <ul class="block">
                      {% for h4 in h3.children %}
                      <li>
                        <a href="{{site.root_dir}}{{ h4.id }}/" class="bullet">■</a>
                        <a href="#{{ h4.id }}" class="link local {%- if h4.disable_numbering %} disable-numbering{%- endif -%}">{{ h4.content | safe }}</a>
                        {% if h4.children | length > 0 %}
                        <ul class="block">
                          {% for h5 in h4.children %}
                          <li>
                            <a href="{{site.root_dir}}{{ h5.id }}/" class="bullet">■</a>
                            <a href="#{{ h5.id }}" class="link local {%- if h5.disable_numbering %} disable-numbering{%- endif -%}">{{ h5.content | safe }}</a>
                          </li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endfor %}
          </div>
        </nav>
        {% endif %}
      {% endif %}
    </div>
  </body>
</html>
